.footer__copyright {
    margin: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
}

@media screen and (max-width: 825px) {
    .footer__copyright {
        margin-left: 20px;
    }
}


@media screen and (max-width: 650px) {
    .footer__copyright {
        margin-top: 48px;
        margin-left: 0;
    }
}