.intro {
    margin: 92px 442px 0 148px;
}

@media screen and (max-width: 1120px) {
    .intro {
        margin-left: 48px;
        margin-right: 286px;
    }
}

@media screen and (max-width: 825px) {
    .intro {
        margin: 88px 24px;
    }
}

@media screen and (max-width: 448px) {
    .intro {
        margin: 64px 24px;
    }
}