.lead__caption {
    font-size: 10px;
    font-weight: 400;
    line-height: 14px;
    max-width: 160px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
}

@media screen and (max-width: 825px) {
    .lead__caption {
        margin-left: 24px;
    }
}

@media screen and (max-width: 448px) {
    .lead__caption {
        margin-left: 16px;
    }
}