.place__url-heading {
    font-size: 12px;
    line-height: 12px;
    font-weight: 400;
    color: #AAAAAA;
    letter-spacing: 2px;
    margin: 0;
    margin-bottom: 12px;
}

@media screen and (max-width: 448px) {
    .place__url-heading {
        margin: 0 16px;
    }
}